body {
    font-family: "Open Sans";
    background-color: #f9fafc;
}

button {
    background-color: #000;
    color: #f9fafc;
    border-radius: 100px 100px;
    text-align: center;
    padding: 10px 200px;
}

h1 {
    color: #000;
    font-size: 1em;
    margin: 1em;
}

h2 {
    color: #69696a;
    font-size: .8em;
    margin: 1em;
}

h3 {
    color: #000;
    font-size: 2em;
    margin: 1em;
}

p {
    text-align: left;
    border-left-style: solid;
    margin-left: 2em;
    margin-right: 10em;
    padding: 1.5em;
}

ul.no-bullets {
    list-style: none;
    display: inline-flex;
    padding: 10px 0px;
    flex-direction: row;
}

li{
    display: inline-block;
    margin-right: 1.5em;
    text-align: right;
    color: #69696a;
}

h4 {
    float: left;
    margin-left: 1.5em;
    margin-right: 25em;
}

footer {
    background-color: rgba(247, 193, 162, 0.7);
    position: fixed;
    bottom: 0;
    margin: 0;
}

a {
    color: #69696a;
    text-decoration: none;
    align-items: right;
}
